  <!-- Header -->
  <header id="header">
    <div class="first-bg col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="movie-bg">
            <img src="../assets/images/Bg-movie.png" class="w-100 img-fluid" alt="movie-bg">
        </div>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand fs-2 text-white fw-bold" href="index.html">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
                <form method="POST">
                   <div class="search-icon">
                    <input class="search-form" type="text" placeholder="Search ...">
                   </div>
                </form>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
  </header>
