:root {
  --bs-white: #ffffff;
  /* --bs-LightPurple: #bc8cf2;
  --bs-HardPurple: #aa14f0; */
  --bs-lightGray: #eeeeee;
  --bs-yellow: #ffc900;
  --bs-LightYellow: #fff89a;
  --bs-Hardgreen: #1a5f7a;
  --bs-HarderGreen: #16536b;
  --bs-black: #000;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

/* NavBar */
.nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--bs-HarderGreen);
}
.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.nav h1 {
  font-size: 25px;
  font-weight: bold;
}
.nav ul {
  list-style-type: none;
  color: #ffc900;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.nav a {
  padding: 0 20px;
  color: #ffc900;
}
.nav a.active,
.nav a:hover {
  color: var(--bs-white);
}
.search-item {
  position: relative;
  height: 40px;
}
.btn-search {
  color: var(--bs-HarderGreen);
  background-color: var(--bs-yellow);
  width: 40px;
  height: 40px;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  transition: width 0.3s ease;
}

.btn-search:focus,
.search-form {
  outline: 0;
}
.search-form {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 9px;
  padding-left: 30px;
  background-color: var(--bs-white);
  color: #000;
  transition: width 0.3s ease;
}
.search-form.active {
  width: 240px;
}
.search-form.active .btn {
  transform: translateX(198px);
}
.toggle-btn {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  display: none;
}
.toggle-btn i {
  font-size: 28px;
}
/* Hero section */

.hero {
  background-color: var(--bs-Hardgreen);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--bs-yellow);
}

.hero h1 {
  color: var(--bs-yellow);
}
.hero p {
  color: var(--bs-lightGray);
  margin: 2rem 0;
  font-size: 19px;
  letter-spacing: 2px;
}

a.start-btn {
  width: 220px;
  height: 50px;
  background-color: var(--bs-yellow);
  font-size: 18px;
  border: none;
  border-radius: 10px;
  z-index: 1;
  color: var(--bs-Hardgreen);
  text-align: center;
  line-height: 50px;
  transition: 0.4s ease;
}
a.start-btn:focus {
  transform: scale(0.95);
}
a.start-btn:hover {
  background-color: var(--bs-LightYellow);
  color: var(--bs-black);
}

.carousel-images img {
  border-radius: 7px;
  object-fit: fill;
  height: 466.41px;
}

.carousel-images {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
#Movies {
  padding: 100px 50px 100px 50px;
  background-color: var(--bs-LightPurple);
  overflow: hidden;
  position: relative;
}
.big-circles-top::after,
.big-circles-bottom::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: var(--bs-yellow);
  opacity: 0.2;
  border-radius: 50%;
  right: -138px;
  top: -54px;
  overflow: hidden;
}
.big-circles-bottom::after,
.big-circles-bottom::before {
  top: 60% !important;
}
.big-circles-top::before,
.big-circles-bottom::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: var(--bs-Hardgreen);
  opacity: 0.2;
  border-radius: 50%;
  left: -5px;
  top: 192px;
  overflow: hidden;
}
.medium-circles-top::after,
.medium-circles-bottom::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: var(--bs-Hardgreen);
  opacity: 0.2;
  border-radius: 50%;
  right: -46px;
  top: -54px;
  overflow: hidden;
}
.medium-circles-bottom::after,
.medium-circles-bottom::before {
  top: 69% !important;
}
.medium-circles-top::before,
.medium-circles-bottom::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: var(--bs-yellow);
  opacity: 0.2;
  border-radius: 50%;
  left: 147px;
  top: -22px;
  overflow: hidden;
}
.movies-images img {
  object-fit: fill;
  height: 391.81px;
}

.movies-images {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.movie-d {
  background-color: var(--bs-white);
  display: flex;
  justify-content: space-between;
  max-height: 100%;
  padding: 1rem 0.5rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}
.movies-images:hover .movie-d {
  transform: translateY(0);
}
.movie-d h1 {
  margin-top: 5px;
}
.movie-d span {
  background-color: var(--bs-Hardgreen);
  color: #fff;
  border-radius: 4px;
  width: 45px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.movies-images::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    to bottom,
    var(--bs-HarderGreen),
    rgba(0, 0, 0, 1) 100%
  );
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  border-radius: 4px;
  transition: opacity 0.3s ease-in;
}
.movies-images:hover::after {
  opacity: 0.7;
}

.movies-images .movies-down {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  z-index: 2;
  transition: opacity 0.5s ease-in;
}
.movies-images:hover .movies-down {
  opacity: 1;
}
.movies-down .movies-title {
  position: absolute;
  bottom: 30px;
}
.movies-down .movies-title {
  left: 0;
  right: 0;
}
.movies-down .movies-title a {
  color: var(--bs-white);
  font-size: 18px;
}
.movies-start {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 18%;
}

.movies-start span.rounded-circle {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-left: 5px dashed var(--bs-white);
  border-right: 5px solid var(--bs-white);
  border-top: 5px solid var(--bs-white);
  border-bottom: 5px solid var(--bs-white);
  justify-content: center;
  align-items: center;
  display: flex;
}
.movies-start i {
  position: absolute;
  font-size: 50px;
  /* left: 47%; */
  color: var(--bs-white);
}
.movies-section .container-fluid .row .mb-3 {
  z-index: 1;
}
#Categories {
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: var(--bs-Hardgreen);
}
a.category-btn {
  width: 100%;
  height: 50px;
  background-color: var(--bs-yellow);
  font-size: 18px;
  border: none;
  border-radius: 10px;
  z-index: 1;
  color: var(--bs-Hardgreen);
  text-align: center;
  line-height: 50px;
}
a.category-btn:hover {
  background-color: var(--bs-LightYellow);
  color: var(--bs-Hardgreen);
}
.search-footer .search-form {
  width: 260px;
}
#contact {
  background-color: var(--bs-lightGray);
  padding: 50px 0 100px 0;
}
li.li-item a {
  color: var(--bs-black);
  font-size: 18px;
}
.social-media span i {
  font-size: 24px;
}
.social-media span i.fa-facebook {
  color: blue;
}
.social-media span i.fa-youtube {
  color: red;
}
.social-media span i.fa-instagram {
  color: brown;
}
#footer {
  position: absolute;
  bottom: 0;
  height: 80px;
  background-color: var(--bs-Hardgreen);
  color: var(--bs-yellow);
  letter-spacing: 2px;
  font-size: 16px;
  width: 100%;
  z-index: 1;
}
::-webkit-scrollbar-thumb {
  background: var(--bs-lightGray);
  border-radius: 15px;
}
@media (max-width: 575px) {
  .search-icon::after {
    margin-left: 23px;
  }
  .carousel-images img {
    border-radius: 7px;
    object-fit: fill;
    height: 494.75px;
  }
  .toggle-btn {
    display: block;
  }
  .nav .container {
    /* display: none; */
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    height: 2px;
    transform: translateX(-200%);
    transition: all 0.5s ease-in;
  }
  .nav-links.active {
    height: 140px;
    transform: translateX(0);
  }
  .nav ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  .nav ul li {
    padding: 0.2rem 0;
  }
  .btn-search {
    top: 3px;
  }
  .search-item {
    margin-left: 1.3rem;
    padding: 0.2rem 0;
  }
}
@media (max-width: 991px) {
  .carousel-images img {
    border-radius: 7px;
    object-fit: fill;
    height: 274.53px;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
