.body {
  position: relative;
  background-color: var(--bs-Hardgreen);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
  z-index: 1;
}
#detail::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 80px 100px 210px #000, inset -80px -100px 210px #000;
}

.movie-box {
  background-color: var(--bs-Hardgreen);
  border-radius: 15px;
  padding: 30px;
  color: var(--bs-white);
}
.movie-box h1 {
  color: var(--bs-yellow);
}
.movie-image {
  position: relative;
  overflow: hidden;
}
.movie-image img {
  border-radius: 7px;
  cursor: pointer;
}

.watch-btn {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.watch-btn .a-watch-btn {
  position: relative;
  color: var(--bs-white);
  font-size: 18px;
  line-height: 50px;
  width: 70%;
  height: 50px;
  background-color: var(--bs-yellow);
  border: none;
  border-radius: 10px;
}
.watch-btn .a-watch-btn:hover {
  background-color: var(--bs-LightYellow);
  color: var(--bs-black);
}
.a-watch-btn i {
  position: absolute;
  right: 32px;
  top: 16px;
}
.download-btn {
  color: var(--bs-white);
  background-color: #95cd41;
  width: 20%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}
.download-btn:hover {
  color: var(--bs-white);
  background-color: #78a733;
}
.movies-images img {
  height: 471.81px !important;
}
#related {
  padding: 80px 0 180px 0;
}
